// light-forest theme
$bg-color: #fff;
$primary-color: #3cc47c;
$secondary-color: #1e392a;
$accent-color: #e9c893;

$large-pad: 30px;
$small-pad: 10px;
$large-marg: 10px;
$small-marg: 5px;
$gutter: 15px;
